<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleDisplayName</key>
	<string>Говорун</string>
	<key>CFBundleName</key>
	<string>Говорун</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Говорун использует микрофон для голосового ввода текста</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/sanyasamineva0x/govorun-app/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>5CA1augvUYfLvo4JFzOFm1mau3AGOp7Lt1rpfIPAeiM=</string>
	<key>SUAutomaticallyCheckForUpdates</key>
	<true/>
</dict>
</plist>
